@using ETrade.Data.Models.Entites
@model Product
@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="col-md-6">
        <img width="50%" src="~/img/@Model.Img" alt="" class="img-fluid rounded-3">
    </div>
    <div class="col-md-6">
        <h1>@Model.Name</h1>
        <span class="badge text-primary">@Model.Stock</span>
        <span class="badge text-secondary">#0342216</span>
        <div class="mt-1">
            <p class="lead">
                @Model.Description
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 text-warning">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <span class="badge text-success">60</span>
            </div>
            <div class="col-md-8">
                <p class="lead">
                    <a href="" class="text-decoration-none">Read a review</a>
                </p>
            </div>
        </div>
        <div class="mb-1">
            <span class="badge text-danger fs-4 fw-bold rounded">@Model.Price.ToString("c")</span>
        </div>
        <div>
            <a asp-action="Buy" asp-controller="Cart" asp-route-id="@Model.Id" class="btn btn-success">
                <i class="fa-solid fa-cart-plus"></i>
                <span class="badge">Add To Cart</span>
            </a>
        </div>
    </div>
</div>
<ul class="nav nav-tabs my-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="desc-tab" data-bs-toggle="tab" data-bs-target="#desc-tab-pane" type="button" role="tab" aria-controls="desc-tab-pane" aria-selected="true">Description</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="payment-tab" data-bs-toggle="tab" data-bs-target="#payment-tab-pane" type="button" role="tab" aria-controls="payment-tab-pane" aria-selected="false">Payment Methods</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review-tab-pane" type="button" role="tab" aria-controls="review-tab-pane" aria-selected="false">Reviews</button>
    </li>

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="desc-tab-pane" role="tabpanel" aria-labelledby="desc-tab" tabindex="0">@Model.Description</div>
    <div class="tab-pane fade" id="payment-tab-pane" role="tabpanel" aria-labelledby="payment-tab" tabindex="0"></div>
    <div class="tab-pane fade" id="review-tab-pane" role="tabpanel" aria-labelledby="review-tab" tabindex="0"></div>

</div>

